@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --card-background: #f3f3f3;
  --primary-color: #00669f;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100%; 
  display: flex; 
  flex-direction: column;
  flex-grow: 1;
  
}

header {
  width: 100%;
  top: 0;
  z-index: 1;
  position: static;
}


.cb {
  background-image: url("../img/circulo_blue.png");
  border-radius: 100px 100px 100px 100px;
  margin-right: 1%;
  position: fixed;
  width: 150px;
  height: 150px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: flex-end;
  align-self: center;
  margin-left: 85%;
}

.cb p{
  display: flex;
  font-size: 96px;
  line-height: 112px;
  color:  #FFFFFF;
  margin: 19px 47px 19Px 47px;
}

.bar-descount {
  height: auto;
  background-color: #D1891C;
  padding: 0.5%;
  font-weight: bold;
  color: #333333;
  font-size: 3rem;
  line-height: 3.1rem;
  align-self: center;
}

.bar-descount span {
  margin-left: 2%;
}

.title {
  height: auto;
  background-color: var(--primary-color);
  padding: 1%;
  box-shadow: 0px 12px 11px -8px rgba(0, 0, 0, 0.58);
  line-height: 3.6rem;
  font-size: 3.5rem;
  color: #FFFFFF;
  box-sizing: border-box;
  align-self: center;
}

.title h1 {
  margin-left: 2%;
}

.container-cards {
  margin-left: 20%;
  margin-top: 2%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 60px 60px 0px 0px;
  width: auto;
  height: auto;
  }

.card {
  width: auto;
  height: auto;
  margin: 50px;
  background-color: var(--card-background);
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 7px 6px -1px rgba(0, 0, 0, 0.47);
  border-radius: 60px 60px 0px 0px;
  }

.card__img-background {
  width: 100%;
  height: 100%;
  position: relative;
}

.background-batman {
  background-image: url("../img/background-batman.png");
  background-repeat: no-repeat;
  background-color: cover;
  background-size: cover;
  width: 806px;
  height: 490px;
  border-radius: 60px 60px 0px 0px;
}

.background-arlequina {
  background-image: url("../img/background-arlequina.png");
  background-repeat: no-repeat;
  background-color: cover;
  background-size: cover;
  width: 806px;
  height: 490px;
  border-radius: 60px 60px 0px 0px;
}

.background-super_man {
  background-image: url("../img/background_super_man.png");
  background-repeat: no-repeat;
  background-color: cover;
  background-size: cover;
  width: 806px;
  height: 490px;
  border-radius: 60px 60px 0px 0px;
}

.background-wonder_girl {
  background-image: url("../img/background_wonder_girl.png");
  background-repeat: no-repeat;
  background-color: cover;
  background-size: cover;
  width: 806px;
  height: 490px;
  border-radius: 60px 60px 0px 0px;
}

.card__icone {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 67px;
  height: 67px;
  border-radius: 50px 50px 50px 50px;
  
}

.card__img-user img {
  border-radius: 50%;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 227px;
  top: 303px;
  width: 352px;
  height: 352px;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  margin-top: 65px;
  width: 805px;
  height: 872px;
}

.card__title{
  font-size: 64px;
  Line-height: 75px;
  margin-top: 194px;
}

.card__desc {
  margin: 32px 43px 44px 32px;
  line-height: 42px;
  font-size: 36px;
  text-align: justify;
  flex-grow: 1;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  width: 346px;
  height: 114px;
  font-style: normal;
  font-weight: 400px;
  font-size: 36px;
  text-align: center;
  color: #f3f3f3;
  margin: 20px;
  border-radius: 7px;
}

footer {
  background-color: var(--primary-color);
  height: 162px;
  width: 100%;
  color: #fff9f9;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.rodapé{
  Font-Size: 2.5rem;
  display: flex; 
  align-self: center;
  margin-left: 40%;
}

.img_Git{
  background-image: url("/img/github.png");
  background-repeat: no-repeat;
  Width: 248.11px;
  Height: 67.36px;
  display: flex;
  align-self: center;
  margin-right: 1%;
}



/*Ver mobile*/
@media screen and(min-width: 767px) {
  html {
    font-size: 10px;
  }
  
  .bar-descount {
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
  }
 
  
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    text-align: center;
  }
  
  .container-cards {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  

  }
  
  .card {
    padding: 10px;
    width: 270px;
    height: 80vh;
    font-size: 1.5rem;
    border-radius: 16px 16px 0px 0px;
    flex-wrap: wrap;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
  }
  

  
  .card__img-user img {
    position: absolute;
    left: 60px;
    top: 90px;
  }
  
}
  

