@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300&family=Tiro+Devanagari+Hindi&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/*font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Flex', sans-serif;
font-family: 'Tiro Devanagari Hindi', serif;*/

body {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: lavender;
    width: 1980px;
    height: auto;
}

.top {
    padding: 10px;
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
}

.Logo {
    background-image: url("../img/mapa_pontos_turisticos.jpg");
    background-repeat: no-repeat;
    align-items: center;
    width: 300px;
    height: 180px;
    margin: auto;
}

.navbar {
    align-self: center;
    align-content: stretch;
    margin: auto;
    font-size: 24px;
}

li {
    display: inline-block;
    list-style-type: none;
    padding: 2px;
    overflow: hidden;
    border: 2px solid #e7e7e7;
    background-color: #f3f3f3;
    position: relative;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: grey;
}

li a.active {
    color: white;
    background-color: #04AA6D;
}

main {
    display: flex;
    border-color: 5px solid black ;
    padding: 10px solid black;
}
.Sobre_o_Estado {
    background-image: url("../img/bandeira_parana.gif");
    width: auto;
    height: auto;
    margin: 20px;
    background-repeat: round; 
    text-indent: 2em;  
}

.Sobre_o_Estado h1 {
    text-align: center;

}
.estado p {
    text-align: justify;
    font-size: 30px;
}
